.row
	.col-md-12
		#carousel123.carousel.carousel-showmanymoveone.slide
			.carousel-inner
				.item.active
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/0054A6/fff/&text=1')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/002d5a/fff/&text=2')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/d6d6d6/333&text=3')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/002040/eeeeee&text=4')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/0054A6/fff/&text=5')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/002d5a/fff/&text=6')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/eeeeee&text=7')
				.item
					.col-xs-12.col-sm-6.col-md-3
						a(href='#')
							img.img-responsive(src='http://placehold.it/500/40a1ff/002040&text=8')
			a.left.carousel-control(href='#carousel123', data-slide='prev')
				i.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href='#carousel123', data-slide='next')
				i.glyphicon.glyphicon-chevron-right